singularity {
  enabled = true
}

params {
  gff = "${baseDir}/data/Potra02_genes_exon-only.gff"
  fasta_nomask = "${baseDir}/data/Potra02_genome.fasta"
  fasta_mask = "${baseDir}/data/Potra02_genome_hardmasked.fasta"
  fasta_protein = "${baseDir}/data/test.fasta"

  splitN = 100
  blast_time = "1h"
}

process {
  executor = "local"
  memory = "4GB"
  time = "30m"
}
