singularity {
  enabled = true
}

params {

  // REQUIRED
  gff = "${baseDir}/data/Potra02_genes_exon-only_chr.gff"
  fasta_nomask = "${baseDir}/data/Potra02_genome_chr.fasta"
  fasta_mask = "${baseDir}/data/Potra02_genome_hardmasked_chr.fasta"
  fasta_protein = "${baseDir}/data/test.fasta"
  // end REQUIRED

  splitN = 100
  blast_time = "1h" // per split, see line above
  blast_version = "legacy" // "legacy" for the blast version shipped with ppipe, "plus" for blast+
  // Original default settings in ppipe for use with legacy blast
  blast_opts = ["-z", "3.1e9", "-e", ".1"]
  // If using BLAST+, settings need to be adjusted
  // blast_opts = ["-evalue", "0.1"]
  blast_cpus = 8 // only used with blast_version == "plus"


}

process {
  executor = "local"
  memory = "4GB"
  time = "30m"
}
